/* reset */
*{ margin: 0; padding: 0; box-sizing: border-box; }
a{ color: inherit; }
select{ border: 1px solid #4231c8; background: transparent; color: #FFFFFF; }
option{ background: #4231c8; border: 0px; color: #FFFFFF; }
select:focus{ border: 1px solid #4231c8; background: transparent; }

/* main */
.container{ position: fixed; width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; background: #171f27; font-weight: bold; color: #FFFFFF; }

svg{ width: 200px; }
.cls-1{ fill: #4231c8; }

.coin_select, .time{ width: 310px; display: flex; justify-content: space-between; align-items: center; margin-top: 50px; }
.tit{ margin-right: 20px; }
.coin_name, .transaction_time{ width: 180px; height: 30px; line-height: 30px; outline: none;padding:0 10px }
.transaction_time{ border: 1px solid #4231c8; background: transparent; font-size: 0.8rem; }